<a href="https://colab.research.google.com/github/pietro-lab/ciencia-de-dados-aula1/blob/master/aula1_ciencia_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [23]:
filmes = pd.read_csv("https://raw.githubusercontent.com/pietro-lab/ciencia-de-dados-aula1/master/movies.csv")
#filmes Ã© um dataframe
filmes.head()
avaliacoes = pd.read_csv("https://raw.githubusercontent.com/pietro-lab/ciencia-de-dados-aula1/master/ratings.csv")
avaliacoes.head()
 #avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [21]:
len(avaliacoes)

100836

In [0]:
avaliacoes.columns = ["usuarioid","filmeid","nota","momento"]

In [25]:
avaliacoes.head()

   usuarioid  filmeid  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [26]:
avaliacoes.describe()

           usuarioid        filmeid           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [27]:
avaliacoes["nota"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [29]:
avaliacoes.query("filmeid == 1").describe()

        usuarioid  filmeid        nota       momento
count  215.000000    215.0  215.000000  2.150000e+02
mean   306.530233      1.0    3.920930  1.129835e+09
std    180.419754      0.0    0.834859  2.393163e+08
min      1.000000      1.0    0.500000  8.293223e+08
25%    155.500000      1.0    3.500000  8.779224e+08
50%    290.000000      1.0    4.000000  1.106855e+09
75%    468.500000      1.0    4.500000  1.348523e+09
max    610.000000      1.0    5.000000  1.535710e+09

In [30]:
avaliacoes.query("filmeid == 1").mean()

usuarioid    3.065302e+02
filmeid      1.000000e+00
nota         3.920930e+00
momento      1.129835e+09
dtype: float64

In [34]:
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
filmes.columns = ["filmeid","titulo","genero"]

In [38]:
notas_medias = avaliacoes.groupby("filmeid")["nota"].mean()
notas_medias.head()

filmeid
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [0]:
filmes.join(notas_medias, on="filmeid")